.maincontainer{
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(5, 20%);
}
body{
  font-family: 'Roboto Mono', monospace;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.techContainer{
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px solid black;
}
.techContainer a{
  padding: 1em;
  color: black;
  text-decoration: none;

  border-radius: 0.5rem;
}
.techContainer a:hover{
background-color:cyan;
text-decoration: underline;

}
.techContainer a:visited{
  color:black
}